example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
example/ios/Flutter/Generated.xcconfig
build/ios/SourcePackages/workspace-state.json
example/build/ios/SourcePackages/workspace-state.json
example/ios/Flutter/flutter_export_environment.sh
